<!DOCTYPE html>
<html ng-app="twittmapApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content = "">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style type="text/css"> 
			#map {
				height: 500px;
			}
		</style>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=visualization"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>
		<!--<script src="http://code.jquery.com/jquery.latest.min.js"></script>-->
		
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/controller.js"></script>
		<script src='/socket.io/socket.io.js'></script>		
	</head>
	<body>
		<div ng-controller = "serverController">
			<div id="map"></div>
			<form ng-submit="filterTweet()">
				<input type="text" placeholder="Enter Word" ng-model="filter"></input>
          		<button type="submit">Filter</button>
        	</form> 
		</div>
		<!-- Meetups View -->
		<!--<div ng-controller = "serverController">
			<h1>There are {{tweets.length}} tweets</h1>
			<ul>
				<li ng-repeat="tweet in tweets">
					{{tweet.text}}
				</li>
			</ul>
			<form ng-submit="createTweet()">
				<input type="text" placeholder="Tweet name" ng-model="tweetName"></input>
          		<button type="submit">Add</button>
        	</form> 
		</div>-->


	</body>
</html>